<div class='list-group'>
  <%= link_to_settings page: :profile %>
  <%= link_to_settings page: :account %>
  <%= link_to_settings page: :birthday %>
  <%= link_to_settings page: :adult_content if Current.user.adult? %>
</div>
